.story{

    &__pictures{
        background-image: linear-gradient(rgba($color-primary, .5) ,
         rgba($color-primary, .5)), 
         url(../img/back.jpg);
        grid-column: full-start / col-end 4;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
    }

    &__img--1{
        width: 100%;
        box-shadow: 0 2rem 5rem rgba($color: #000000, $alpha: .1);
        grid-row: 2 / span 4;
        grid-column: 2 / span 4;
    }

    &__img--2{
        z-index: 1;
        width: 115%;
        box-shadow: 0 2rem 5rem rgba($color: #000000, $alpha: .2);
        grid-column: 4 / 7;
        grid-row: 4 / 6;
    }

    &__content{
        background-color: var(--color-grey-light-1);
        grid-column: col-start 5 / full-end;
        padding: 6rem 7vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__pictures{
        grid-column: full-start / col-end 4;
    }

    &__text{
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 4rem;
    }
}